:root {
    --color-principal: darkblue;
}

h1 {
    color: var(--color-principal);
}

a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}